@charset "UTF-8";

/* since we are reusing the code from dashboard, we will overwrite the previous styling */

.resources-card-container{
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem !important;
}

.resource-card{
	display: flex;
	flex-direction: column !important;
	align-items: flex-end;
	
	flex: 0 0 calc(33.333% - 1rem); 
    min-width: 280px;
}

.resource-icon{
	min-width: 25%;
	aspect-ratio: 1;
	padding: 15px;
	font-size: 1.2rem !important;
}

.icon-container{
	width: 100% !important;
	display: flex;
}

.resource-card-main{
	width: 100%;
}

.resource-title{
	font-size: 19px;
	text-align: center;
}

.creator{
	font-size: 14px;
}

.category-flair{
	font-size: 14px;
}

.upload-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 30px;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: .3s;
    background-color: #fafafa;
}

.upload-area:hover {
    border-color: #0066cc;
    background-color: #f4f9ff;
}

.upload-content {
    display: block;
    width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
    padding: 0 15px;
}

.upload-icon {
    font-size: 35px;
    display: block;
    margin-bottom: 10px;
}

.upload-content p {
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.upload-content strong {
    color: #0066cc;
}