@charset "UTF-8";

:root{
	user-select: none;
	font-family: "TW Cen MT Std", serif;
}

body{
	display:flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	height: 100vh;
}

main{
	padding: 0% 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	
}

#hero_text-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}

h1{
	margin: 0;
	padding: 0;
	font-size: 20rem;
	font-family: "Altair", serif;
	line-height: 19rem;
}

#motto-text{
	font-size: 2rem;
	font-family: "TW Cen MT Condensed", serif;
}

#button-container{
	display: flex;
	gap: 1rem;
}

.button-group{
	all: unset;
	cursor: pointer;
	font-size: 22px;
	border: 2px solid black;
	border-radius: 30px;
	padding: 12px 22px;
	width: 100%;
}

#login-button{
	background-color: #000;
	color: #fff;
	transition: 0.1s ease-in-out;
	
	&:hover{
		background-color: #888;
		color: #000;
	}
}

#register-button{
	transition: 0.1s ease-in-out;
	
	&:hover{
		background-color: #aaa;
		color: #fff;
	}
}