#sidebar{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 18%;
	color: white;
	position: sticky;
    top: 0;
	flex-shrink: 0; /* to make this element take up space in the flexbox */

	&>a{
		all: unset;
		color: white;
		cursor: pointer;
		font-family: "DM Serif Display", "serif";
		font-weight: bold;
		letter-spacing: 3%;
		font-size: 20px;
		padding: 10%;
	}
	
	&>nav{
		display: flex;
		flex: 1;
		gap: 5px;
		flex-direction: column;
		font-weight: 500;
		padding: 15.67px 20px;
		
		&>a{
			all: unset;
			display: flex;
			align-items: center;
			cursor: pointer;
			padding: 15.67px 0;
			border-radius: 6.7px;
		}
	}
}


.nav-icon{
	height: 16px;
	aspect-ratio: 1;
	margin: 0 15px;
}

#user-info{
	justify-self: flex-end;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 20px 20px;
}

#profile-details{
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

#profile-icon{
	font-family: "DM Mono", serif;
	border-radius: 50%;
	padding: 13px;
}

#user-title{
	font-size: 13px;
	color: #888;
}
